---
layout: default
---

<div class="row">
	<div class="col-xs-6">
		<ul class="unstyled post-list web-list">
			{% for post in site.categories.web %}
				<li>
					<div class="row">
						<div class="col-xs-12 col-sm-4">
							<p>{{ post.date | date: "%Y" }}</p>
							<p>{{ post.title }}</p>
						</div>
						<div class="col-xs-12 col-sm-8">
							<a href="{{ post.link }}">
								<div class="post-card">
									{% for image in post.img %}
										<img src="{{ site.baseurl }}{{ site.imageurl }}/work/{{ image }}" alt="{{ post.title }}" class="img-responsive{% unless image == 'nbt-2011-12.gif' %} img-frame{% endunless %}">
									{% endfor %}
								</div>
							</a>
						</div>
					</div>
				</li>
			{% endfor %}
		</ul>
	</div>
	<div class="col-xs-6">
		<ul class="unstyled post-list print-list">
			{% for post in site.categories.print %}
				<li>
					<div class="row">
						<div class="col-xs-12 col-sm-4 col-sm-push-8">
							<p>{{ post.date | date: "%Y" }}</p>
							<p>{{ post.title }}</p>
						</div>
						<div class="col-xs-12 col-sm-8 col-sm-pull-4">
							<a href="{% if post.link %}{{ post.link }}{% else %}{{ site.baseurl }}{{ site.imageurl }}/work/{{ post.img }}{% endif %}">
								<div class="post-card">
									{% for image in post.img %}
										<img src="{{ site.baseurl }}{{ site.imageurl }}/work/{{ image }}" alt="{{ post.title }}" class="img-responsive{% unless image == 'nbt-2011-12.gif' %} img-frame{% endunless %}">
									{% endfor %}
								</div>
							</a>
						</div>
					</div>
				</li>
			{% endfor %}
		</ul>
	</div>
</div>

