---
layout: wide
---

<h2>Experience</h2>

{% for job in site.data.resume.jobs %}
	{% if job.employer %}<h3>{{ job.employer }}</h3>{% endif %}
	<p>{{ job.date }}</p>
	{% if job.title %}<p>{{ job.title }}</p>{% endif %}
	{% if job.details %}
		<ul>
			{% for detail in job.details %}
				<li>{{ detail }}</li>
			{% endfor %}
		</ul>
	{% endif %}
	{% if job.location %}<p>{{ job.location.city }}, {{ job.location.state }}</p>{% endif %}
{% endfor %}

<h2>Education</h2>

{% for school in site.data.resume.education %}
	<h3>{{ school.name }}</h3>
	<p>{{ school.date }}</p>
	{% if school.major %}<p>{{ school.major }}</p>{% endif %}
	{% if school.details %}
		<ul>
			{% for detail in school.details %}
				<li>
					<strong>{{ detail.name }}: </strong>
					{% for item in detail.list %}
						<span>{{ item }}</span>
					{% endfor %}
				</li>
			{% endfor %}
		</ul>
	{% endif %}
	{% if school.location %}<p>{{ school.location.city }}, {{ school.location.state }}</p>{% endif %}
{% endfor %}
