---
layout: wide
title: Experience
---

{% for job in site.data.resume.jobs %}
	{% if job.title %}
		<h3 class="resume__item-title">
			{{ job.title }}
			{% if job.date %}
				<span class="resume__date">{{ job.date }}</span>
			{% endif %}
		</h3>
	{% endif %}
	{% if job.employer %}
		<h4 class="resume__employer">
			{{ job.employer }}
			{% if job.location %}
				<span class="resume__location">{{ job.location.city }}, {{ job.location.state }}</span>
			{% endif %}
		</h4>
	{% endif %}
	{% if job.details %}
		<ul class="resume__detail-list">
			{% for detail in job.details %}
				<li>{{ detail }}</li>
			{% endfor %}
		</ul>
	{% endif %}
{% endfor %}

<h2 class="page-title">Education</h2>

{% for school in site.data.resume.education %}
	<h3 class="resume__item-title">
		{{ school.name }}
		<span class="resume__date">{{ school.date }}</span>
	</h3>
	{% if school.major %}
		<h4 class="resume__employer">
			{{ school.major }}
			{% if school.location %}
				<span class="resume__location">{{ school.location.city }}, {{ school.location.state }}</span>
			{% endif %}
		</h4>
	{% endif %}
	{% if school.details %}
		<ul class="resume__detail-list">
			{% for detail in school.details %}
				<li>
					<strong class="resume__detail-title">{{ detail.name }} </strong>
					{% for item in detail.list %}
						<span class="resume__detail-item">{{ item }}</span>
					{% endfor %}
				</li>
			{% endfor %}
		</ul>
	{% endif %}
{% endfor %}
