<div class="portfolio-teaser">
	<div class="portfolio-teaser__column--image">
		{% for image in post.img %}
			{% if image.url %}
				<a href="{{ image.url }}">
			{% elsif post.links %}
				<a href="{{ post.links.first.url }}">
			{% else %}
				<a href="{{ site.baseurl }}{{ site.imageurl }}/{{ image.large }}">
			{% endif %}
				<img src="{{ site.baseurl }}{{ site.imageurl }}/{% if image.thumb %}thumbs/{{ image.thumb }}{% else %}{{ image.large }}{% endif %}" alt="{{ post.title }}" class="{% unless image.large == 'nbt-2011-12.gif' %}portfolio-item__image--bordered{% endunless %}">
			</a>
		{% endfor %}
	</div>
	<div class="portfolio-teaser__column--text">
		<h3 id="{{ post.id }}">{{ post.title }}</h3>

		<p class="portfolio-item__date">{{ post.date | date: "%B %Y" }}</p>

		<div class="portfolio-item__description">{{ post.content }}</div>

		{% for link in post.links %}
			<a href="{{ link.url }}" class="portfolio-item__link">
				{% if link.name %}
					{{ link.name }}
				{% else %}
					View site
				{% endif %}
			</a>
		{% endfor %}
	</div>
</div>
