{% capture post_id %}{{ post.id | remove: "/" }}{% endcapture %}

<div class="portfolio-teaser" id="{{ post_id }}">
	<div class="portfolio-teaser__column--text">
		<h3>
			{{ post.title }}
			<a href="#{{ post_id }}" title="permalink" class="portfolio-item__permalink">
				&#x1f517;
			</a>
		</h3>

		<p class="portfolio-item__date">{{ post.date | date: "%B %Y" }}</p>

		<div class="portfolio-item__description">{{ post.content }}</div>

		{% for link in post.links %}
			<a href="{{ link.url }}" class="portfolio-item__link">
				{% if link.name %}
					{{ link.name }}
				{% else %}
					View site
				{% endif %}
			</a>
		{% endfor %}
	</div>
	<div class="portfolio-teaser__column--image">
		{% for image in post.img %}
			{% if image.url %}
				<a href="{{ image.url }}" class="portfolio-item__image-link">
			{% elsif post.links %}
				<a href="{{ post.links.first.url }}" class="portfolio-item__image-link">
			{% else %}
				<a href="{{ site.baseurl }}{{ site.imageurl }}/{{ image.large }}" class="portfolio-item__image-link">
			{% endif %}
				<img src="{{ site.baseurl }}{{ site.imageurl }}/{% if image.thumb %}thumbs/{{ image.thumb }}{% else %}{{ image.large }}{% endif %}" alt="{{ post.title }}" class="portfolio-item__image">
			</a>
		{% endfor %}
	</div>
</div>
