.header
	padding: 1rem 0

.header__title
	margin-bottom: 0.5rem
	+media-breakpoint-up(small)
		font-size: 3rem

.header__nav
	+list--unstyled
	color: $gray50--text

.header__nav-item
	+list--comma(" •")
	display: inline
