.resume
	margin-top: 400px
	background-color: $white
	@media (min-width:$screen-sm-min)
		padding-bottom: (2*$line-height-computed - 6)
		background-color: $white
	h2
		margin-top: 2*$line-height-computed
		&:first-child
			margin-top: 0

.resume-item
	margin-top: $line-height-computed
	.date, h3, h4, h5, ul
		margin-top: 0
		margin-bottom: 6px
	.date
		text-transform: uppercase
		font-weight: 500
	h3
		line-height: $font-size-h3
	.li-comma::after
		content: ", "
	.li-comma:last-child::after
		content: ""
