---
layout: head
title: About
---

<body class="backstretched" data-backstretch-image="{{ site.baseurl }}{{ site.imageurl }}/{{ site.data.about.img }}">

	{% include header.html %}

	<div class="headshot"></div>

	<div class="container container-sm">
		<h2>About Me</h2>
		<ul>
			{% for reason in site.data.resume.why %}
				<li>{{ reason }}</li>
			{% endfor %}
		</ul>

		<h2>Experience</h2>
		<ul class="unstyled">
			{% for job in site.data.resume.jobs %}
				<li class="resume-item">
					<p class="date">{{ job.date }}</p>
					{% if job.employer %}<h3>{{ job.employer }}</h3>{% endif %}
					{% if job.title %}<h4>{{ job.title }}</h4>{% endif %}
					{% if job.details %}
						<ul>
							{% for detail in job.details %}
								<li>{{ detail }}</li>
							{% endfor %}
						</ul>
					{% endif %}
					{% if job.location %}<h5>{{ job.location.city }}, {{ job.location.state }}</h5>{% endif %}
				</li>
			{% endfor %}
		</ul>

		<h2>Education</h2>
		<ul class="unstyled">
			{% for school in site.data.resume.education %}
				<li class="resume-item">
					<p class="date">{{ school.date }}</p>
					<h3>{{ school.name }}</h3>
					{% if school.major %}<h4>{{ school.major }}</h4>{% endif %}
					{% if school.details %}
						<ul>
							{% for detail in school.details %}
								<li>
									<strong>{{ detail.name }}: </strong>
									{% for item in detail.list %}
										<span class="li-comma">{{ item }}</span>
									{% endfor %}
								</li>
							{% endfor %}
						</ul>
					{% endif %}
					{% if school.location %}<h5>{{ school.location.city }}, {{ school.location.state }}</h5>{% endif %}
				</li>
			{% endfor %}
		</ul>
	</div>

	{% include footer.html %}

	<script src="{{ site.baseurl }}/static/javascripts/modernizr.2.7.1.js" type="text/javascript" charset="utf-8"></script>
	<script src="{{ site.baseurl }}/static/javascripts/jquery-1.11.0.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="{{ site.baseurl }}/static/javascripts/jquery.backstretch.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="{{ site.baseurl }}/static/javascripts/app.js" type="text/javascript" charset="utf-8"></script>

</body>

