@charset "UTF-8";
* {
  box-sizing: border-box; }

*:after,
*:before {
  box-sizing: inherit; }

html {
  height: 100%;
  font-family: "Roboto", Calibri, "Gil Sans", sans-serif;
  font-weight: 300;
  color: #1d1d1d; }

body {
  margin: 0;
  height: 100%;
  font-size: 16px;
  line-height: 1.5; }

b,
strong {
  font-weight: 400; }

i,
em {
  font-style: italic; }

button,
input,
select,
textarea {
  font-size: 1rem;
  font-family: "Roboto", Calibri, "Gil Sans", sans-serif; }

code,
kbd,
pre,
samp {
  font-family: "Roboto Mono", monospace; }

img {
  max-width: 100%;
  height: auto; }

a {
  transition-duration: 0.1s;
  transition-timing-function: linear;
  transition-property: color, background-color;
  color: #158fa2;
  text-decoration: none;
  font-weight: 400; }
  a:hover, a:focus, a:active {
    color: teal; }
  a:hover, a:focus, a:active {
    text-decoration: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 400;
  line-height: 1.3; }

h1 {
  font-size: 2rem;
  font-family: "Roboto Slab", Georgia, serif;
  font-weight: 400; }

h2 {
  font-size: 1.8rem; }

h3 {
  font-size: 1.5rem; }

h4 {
  font-size: 1.2rem; }

h5 {
  font-size: 1rem; }

h6 {
  font-size: 1rem; }

.header {
  padding: 1rem 0; }

.header__title {
  margin-bottom: 0.5rem; }

.header__nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #6f6f6f; }

.header__nav-item {
  display: inline; }
  .header__nav-item::after {
    content: " • "; }
  .header__nav-item:last-child::after {
    content: ""; }

.layout, .layout--wide {
  grid-template-columns: auto 528px auto;
  display: grid;
  grid-template-rows: auto 100fr;
  grid-template-areas: ". header ." ". main .";
  grid-gap: 1rem;
  padding: 1rem 0; }
  @media (max-width: 527px) {
    .layout, .layout--wide {
      grid-template-columns: 0 100fr 0; } }

.layout--wide {
  grid-template-columns: auto 800px auto; }
  @media (max-width: 799px) {
    .layout--wide {
      grid-template-columns: 0 100fr 0; } }

header {
  grid-area: header; }

main {
  grid-area: main; }

.page-title {
  padding: 0.5rem;
  background-color: #a6f2f2; }

.page-title--empty {
  background-color: #7aecec;
  height: 0.25rem;
  margin-bottom: 2rem; }

.portfolio-teaser {
  padding: 2rem 0;
  border-bottom: 1px solid #ddd;
  display: grid;
  grid-template-columns: 50fr 50fr;
  grid-template-rows: auto;
  grid-template-areas: "teaser-image teaser-text";
  grid-gap: 1rem; }
  .portfolio-teaser:last-child {
    border-bottom-width: 0; }
  @media (max-width: 447px) {
    .portfolio-teaser {
      grid-template-columns: auto;
      grid-template-rows: auto auto;
      grid-template-areas: "teaser-image" "teaser-text"; } }

.portfolio-teaser__column--image {
  grid-area: "teaser-image"; }

.portfolio-teaser__column--text {
  grid-area: "teaser-text"; }

.portfolio-teaser__image--bordered {
  border: 1px solid #ddd;
  border-radius: 3px; }

.portfolio-teaser__date {
  color: #6f6f6f; }

.portfolio-teaser__link {
  display: block; }

/*# sourceMappingURL=styles.css.map */
