---
layout: wide
---

{% if content %}
	<div class="category-description">
		{{ content }}
	</div>
{% endif %}

<div class="photo-layout">
	{% for post in site.categories[page.category] %}
		{% for image in post.img %}
			{% if post.links %}
				<a href="{{ post.links.first.url }}">
			{% elsif post.link %}
				<a href="{{ post.link }}">
			{% else %}
				<a href="{{ site.baseurl }}{{ site.imageurl }}/{{ image.large }}">
			{% endif %}
				<img src="{{ site.baseurl }}{{ site.imageurl }}/thumbs/{% if image.thumb %}{{ image.thumb }}{% else %}{{ image.large }}{% endif %}" alt="{{ post.title }}" class="{% unless image.large == 'nbt-2011-12.gif' %}portfolio-item__image--bordered{% endunless %}">
			</a>
		{% endfor %}
	{% endfor %}
</div>
