---
layout: wide
---

{% for image in page.img %}
	{% if page.categories contains 'web' %}
		<a href="{{ page.link }}">
	{% else %}
		<a href="{{ site.baseurl }}{{ site.imageurl }}/work/{{ image.large }}">
	{% endif %}
		<img src="{{ site.baseurl }}{{ site.imageurl }}/work/{{ image.large }}" alt="{{ title }}" class="{% unless image.large == 'nbt-2011-12.gif' %}portfolio-item__image--bordered{% endunless %}">
	</a>
{% endfor %}

<h3>{{ title }}</h3>

<p class="portfolio-item__date">{{ page.date | date: "%B %Y" }}</p>

{{ content }}

{% if page.links %}
	{% for link in page.links %}
	<a href="{{ link.url }}" class="portfolio-item__link">{{ link.name }}</a>
	{% endfor %}
{% elsif page.categories contains 'web' %}
	<a href="{{ page.link }}" class="portfolio-item__link">View site</a>
{% endif %}
