---
layout: wide
---

<h3>{{ title }}</h3>

<p class="portfolio-item__date">{{ page.date | date: "%B %Y" }}</p>

<div class="portfolio-item__description">{{ content }}</div>

{% if page.links %}
	<p>
		{% for link in page.links %}
			<a href="{{ link.url }}" class="portfolio-item__link">{{ link.name }}</a>
		{% endfor %}
	</p>
{% elsif page.link %}
	<p>
		<a href="{{ page.link }}" class="portfolio-item__link">View site</a>
	</p>
{% endif %}

{% for image in page.img %}
	<a href="{{ site.baseurl }}{{ site.imageurl }}/{{ image.large }}">
		<img src="{{ site.baseurl }}{{ site.imageurl }}/{{ image.large }}" alt="{{ title }}" class="{% unless image.large == 'nbt-2011-12.gif' %}portfolio-item__image--bordered{% endunless %}">
	</a>
{% endfor %}
