---
layout: wide
---

<h3>{{ title }}</h3>

<p class="portfolio-item__date">{{ page.date | date: "%B %Y" }}</p>

<div class="portfolio-item__description">{{ content }}</div>

{% if page.links %}
	<p>
		{% for link in post.links %}
			<a href="{{ link.url }}" class="portfolio-item__link">
				{% if link.name %}
					{{ link.name }}
				{% else %}
					View site
				{% endif %}
			</a>
		{% endfor %}
	</p>
{% endif %}

{% for image in page.img %}
	<a href="{{ site.baseurl }}{{ site.imageurl }}/{{ image.large }}">
		<img src="{{ site.baseurl }}{{ site.imageurl }}/{{ image.large }}" alt="{{ title }}" class="portfolio-item__image">
	</a>
{% endfor %}
